<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>
           proj.DataBaseConnector
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>proj.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removefromcart</servlet-name>
        <servlet-class>proj.removefromcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>proj.main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductTodb</servlet-name>
        <servlet-class>proj.addProductTodb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>proj.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Page</servlet-name>
        <servlet-class>proj.Admin_Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>proj.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addreviewtodb</servlet-name>
        <servlet-class>proj.addreviewtodb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editState</servlet-name>
        <servlet-class>proj.editState</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removefromcart</servlet-name>
        <url-pattern>/removefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductTodb</servlet-name>
        <url-pattern>/addProductTodb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Page</servlet-name>
        <url-pattern>/Admin_Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addreviewtodb</servlet-name>
        <url-pattern>/addreviewtodb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editState</servlet-name>
        <url-pattern>/editState</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
</web-app>
